// Preload stuff
sv_pure -1

// Load the base configuration
//exec default.cfg
r_decal_cullsize 1

// Setup custom controller
exec joystick.cfg

// Run a user script file if present
exec autoexec.cfg

// Stuff command line statements
stuffcmds

// Display the startup level
startupmenu
sv_unlockedchapters 99

// Apply HUD settings
cl_hud_minmode 0
vgui_cache_res_files 0
hud_reloadscheme
alias "streamer_mode" "toggle cl_hud_minmode; toggle mat_antialias 0 1; wait 500; toggle mat_antialias 0 1; hud_reloadscheme; wait 500; play ui/streamer_mode.wav"

// Startup Sound
wait 100; play ui/leadhud.wav

// Notice
alias "lh_notice" "clear; showconsole; echo Development of this HUD has been discontinued in favor of a newer one that will be released soon.; echo This HUD was created as a head-first dive into the process of HUD development and such should not be used.; echo Please use a different HUD for the time being, and await for the new one that will replace this one.; echo To remove this notice, delete the notice.res file in the HUD root directory.; echo Thank you."